.aboutus {
    padding: 50px 0;
    background-color: #f4f4f4;
    background-image: url(../Images/about-us/dog-and-cat.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    
}

.aboutus .wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    /* left:100px; */
    top: 50px;
    width: 90%;
    height: auto;
    /* background-color: blueviolet; */
}

.aboutus .wrapper h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: left;
}

.aboutus .wrapper p {
    font-size: 24px;
    line-height: 1.8;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    text-align: left;
}

.about-us-banner {
    padding: 50px 0;
    background-color: #0000007a;
    background-image: url(../Images/about-us/Cat-with-girl-two.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: overlay;
}

.about-us-banner .wrapper {
    width: 90%;
    font-size: 42px;
    /* background-color: #333; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about-us-banner .wrapper h1 {
    width: 35%;
    font-size: 40px;
    /* margin-top: 20px; */
    /* background-color: #333; */
    /* padding-bottom: 20px; */
    color: white;
}

.about-us-banner .wrapper p{
    width: 34%;
    font-size: 24px;
    color: white;
}

.about-us-banner .wrapper .botton-container{
    padding-top: 20px;
}
/* .button{
    background-color: transparent;
    border: 2px solid #00A885;
    padding: 10px 20px;
    color: #00A885;
    border-radius: 20px;
} */


.faq {
    height: 500px;
    width: 100%;
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.faq .wrapper {
    height: 100%;
    /* background-color: lightcoral; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.faq .wrapper .left {
    height: 100%;
    width: 40%;
    /* background-color: lightcyan; */
}

.faq .wrapper .left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.faq .wrapper .right {
    height: 100%;
    width: 60%;
    /* background-color: lightgray; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faq .wrapper .right .top {
    height: 50%;
    width: 100%;
    /* background-color: lightgreen; */
}

.faq .wrapper .right .top h1 {
    font-size: 40px;
}


.faq .wrapper .right .top p {
    font-size: 24px;
}

.faq .wrapper .right .bottom {
    height: 50%;
    width: 100%;
    /* background-color: lightseagreen; */
    display: flex;
    justify-content: center;
    gap: 30px;
}

.faq .wrapper .right .bottom {
    height: 500%;
    width: 100%;
    /* background-color: lime; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.faq .wrapper .right .bottom .question {
    height: 15%;
    width: 100%;
    background-color: #00A885;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    border-radius: 10px;
}

.faq .wrapper .right .bottom .question i {
    font-size: 24px;
    color: white;
}

.faq .wrapper .right .bottom .question p {
    font-size: 18px;
    color: white;
}

/* mediaquery start */

/* aboutus */

@media only screen and (max-width:1338px){
    .about-us-banner .wrapper h1 {
        width: 33%;
    }
}

@media only screen and (max-width:1300px){
    .about-us-banner .wrapper h1 {
        width: 30%;
    }
}

@media only screen and (max-width:1278px){
.about-us-banner .wrapper p {
    width: 30%;
    }
}

@media (max-width: 1156px) {
    .about-us-banner {
        height: 550px; 
    }

    .about-us-banner .wrapper {
        font-size: 36px; 
    }

    .about-us-banner .wrapper h1 {
        width: 34%; 
        font-size: 34px; 
    }

    .about-us-banner .wrapper p {
        width: 34%;
        font-size: 18px; 
    }

    .about-us-banner .wrapper .botton-container {
        padding-top: 15px; 
    }
}


@media only screen and (max-width:1100px) {
    .aboutus .wrapper h1 {
        margin-bottom: 0px;
    }
}

@media only screen and (max-width:1024px) {
    .aboutus .wrapper h1 {
        font-size: 38px;
    }

    .aboutus .wrapper p {
        font-size: 20px;
    }

    .aboutus .wrapper {
        top: 8%;
    }

    .wrapper .par2 {
        font-size: 50px;
        width: 50%;
    }
    .btn {margin-left: 0px;
    }
}






@media (max-width: 972px) {
    .about-us-banner {
        height: 500px; 
    }

    .about-us-banner .wrapper {
        font-size: 32px; 
    }

    .about-us-banner .wrapper h1 {
        width: 30%; 
        font-size: 30px; 
    }

    .about-us-banner .wrapper p {
        width: 33%; 
        font-size: 16px;
    }

    .about-us-banner .wrapper .botton-container {
        padding-top: 10px; 
    }
}

@media (max-width: 890px) {
    .about-us-banner {
        height: 450px; 
        padding: 25px 0; 
    }

    .about-us-banner .wrapper {
        font-size: 28px; 
    }

    .about-us-banner .wrapper h1 {
        width: 30%; 
        font-size: 26px; 
    }

    .about-us-banner .wrapper p {
        width: 30%; 
        font-size: 14px; 
    }

    .about-us-banner .wrapper .botton-container {
        padding-top: 8px; 
    }
}



@media only screen and (max-width:769px) {
    .aboutus .wrapper h1 {
        font-size: 34px;
    }


    .aboutus .wrapper p {
        font-size: 16px;
    }

    .about-us-banner {
        height: 400px;
        }
}

@media only screen and (max-width:768px) {
    .aboutus .wrapper h1 {
        font-size: 36px;
        width: 50%;
    }

    .aboutus .wrapper p {
        font-size: 20px;
        margin-top: 16px;
    }
    .faq {
        height: auto;
}

.faq .wrapper .right .bottom .question {
    height: 50px;
}

.faq .wrapper .right {
    gap: 30px;
}


    .faq .wrapper {
        flex-wrap: wrap;
    }
    
    .faq .wrapper .left {
        width: 100%;
    height: auto;
}

.faq {
    height: auto;
}

.faq .wrapper .right .bottom .question {
height: 50px;
}

.faq .wrapper .right {
gap: 30px;
}


.faq .wrapper {
    flex-wrap: wrap;
}

.faq .wrapper .left {
    width: 100%;
height: auto;
}
}

@media only screen and (max-width:648px) {
    .aboutus .wrapper h1 {
        font-size: 32px;
    }

    .aboutus .wrapper p {
        font-size: 20px;
        margin-top: 14px;
    }
}


@media only screen and (max-width:654px){
    .about-us-banner {
        height: 400px;
    }
}

@media only screen and (max-width:596px){
    .faq .wrapper .right .top h1 {
        font-size: 36px;
    }
    .faq .wrapper .right .top p {
        font-size: 16px;
    }
    .faq .wrapper .right .bottom .question p {
        font-size: 14px;
    }
}


@media (max-width: 554px) {
    .about-us-banner .wrapper {
        font-size: 24px;
    }

    .about-us-banner .wrapper h1 {
        width: 70%; 
        font-size: 22px;
    }

    .about-us-banner .wrapper p {
        width: 70%; 
        font-size: 16px; 
    }

    .about-us-banner .wrapper .botton-container {
        padding-top: 5px; 
    }
}



@media only screen and (max-width:488px){
    .about-us-banner .wrapper h1 {
        font-size: 20px;
    }
}

@media only screen and (max-width:482px) {
    .wrapper .par2 {
        font-size: 36px;
    }

    .wrapper .par1 {
        font-size: 16px;
        margin-top: 12px;
    }

    .wrapper .par3 {
        font-size: 16px;
        margin-top: 12px;
    }
}

@media only screen and (max-width:464px){
    .faq .wrapper .right .top h1 {
        font-size: 32px;
    }
    .faq .wrapper .right .top p {
        font-size: 18px;
    }
    .faq .wrapper .right .bottom .question p {
        font-size: 12px;}
}


@media only screen and (max-width:425px) {
    .aboutus .wrapper h1 {
        font-size: 30px;
    }


    .aboutus .wrapper p {
        font-size: 14px;
    }

    .wrapper .h1 {
        font-size: 32px;
    }
}

@media only screen and (max-width:356px){
    .faq .wrapper .right .top p {
        font-size: 16px;
    }
}

@media only screen and (max-width:320px) {
    .aboutus .wrapper {
        top: 4%;
    }

    .wrapper .par2 {
        font-size: 26px;
        }
    
            .about-us-banner {
            height: 300px;
            padding: 5px 0;
        }
    
        .about-us-banner .wrapper {
            font-size: 18px;
        }
    
        .about-us-banner .wrapper h1 {
            width: 90%;
            font-size: 20px;
        }
    
        .about-us-banner .wrapper p {
            width: 88%;
            font-size: 12px;
        }
}

