.nav-two{
    height: 70px;
    width:100%;
    display:flex;
}
.nav-two ul{
    width: 100%;
    display: flex;
    list-style-type: none;
    gap: 70px;
    justify-content: space-evenly;
    align-items: center;

}
.nav-two ul li a{
    text-decoration: none;
    color: black;
    font-size: 22px;
}
.nav-two ul li .fa-solid{
    margin: 6px;
}




/* Search Bar Start */

/* .wrapper input{
    background-color: blue;
    width: 70%;
    height: 80%;
} */


.form-container{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.form-container .wrapper{
    height: 100%;
}

.form-container form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

}
.form-container form .Searchbox{
    height: 50px;
    width: 100%;
    border-radius: 50px;
    background-color: #00A885;
    border:0px;
}

.form-container form input{
    padding-left:50px;
}
.form-container .wrapper{
    position: relative;
}
.form-container .wrapper form i {
    position: absolute;
    left: 1%;
    color: white;
}
.form-container .wrapper form ::placeholder{
    color: white;
}


/* Search Bar End */


/*RESIDENTS */

.food-banner{
    height: 500px;
    width: 100%;
    background-color: #00A885;
    background-image: url(../Images/home/banner-one.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-blend-mode: rgba(0, 0, 0, 0.863);
    margin-bottom: 80px;
}

.food-banner .wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.food-banner .wrapper h1{
    font-size: 40px;
    color: white;
    width: 50%;
}

.food-banner .wrapper p{
    font-size: 30px;
    color: white;
    /* width: 40%; */
}

.food-banner .wrapper .button-container{
    padding-top: 20px;
}



/* Offer */


.offer{
    height: 224px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}
.offer .wrapper{
    height: 100%;

    /* background-color: lightblue; */
}
.offer .wrapper .heading{
    height: 20%;
    width: 100%;
    /* background-color: lightseagreen; */
    text-align: center;
}

.offer .wrapper .heading h1{
    font-size: 40px;
}

.offer .wrapper .heading p{
    font-size: 24px;
}
.offer .wrapper .card-container{
    height: 80%;
    width: 100%;
    /* background-color: lightcyan; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.offer .wrapper .card-container .card{
    height: 50%;
    width: 25%;
    background-color: #00A885;
    border-radius: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.offer .wrapper .card-container .card:hover{
    box-shadow: 2px 3px 12px rgba(77, 77, 77, 0.63);
}
 

/* card */

.nonveg{
    height: 900px;
    width: 100%;
    /* background-color: #00A885; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.nonveg .wrapper{
    height: 100%;
    /* background-color: blue; */

}

.nonveg .wrapper .holder{
    height: 10%;
    width: 100%;
    /* background-color: lightblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nonveg .wrapper .holder .view{
    display: flex;
    gap: 8px;
    /* background-color: #00A885; */
    align-items: center;
}

.nonveg .wrapper .holder h1{
    font-size: 28px;
}

.nonveg .wrapper .holder p{
    font-size: 20px;
}

.nonveg .wrapper .card-container{
    height: 90%;
    width: 100%;
    /* background-color: lightblue; */
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nonveg .wrapper .card-container .card{
    height: 47%;
    width: 28%;
    background-color: #B6F2E6;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nonveg .wrapper .card-container .card .img-container{
    height: 50%;
    width: 100%;
    /* background-color: lightcyan; */
    
}


.nonveg .wrapper .card-container .card .img-container img{
    height: 100%;
    width: 100%;
    /* background-color: lightcyan; */
    object-fit: cover;
    object-position: center;
}

.nonveg .wrapper .card-container .card .content{
    height: 50%;
    width: 100%;
    /* background-color: lightgreen; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nonveg .wrapper .card-container .card .content .rupees{
    /* font-size: 24px; */
    font-weight: 600;
}

.nonveg .wrapper .card-container .card .content .rating{
    display: flex;
    align-items: center;
    gap: 8px;
}
.nonveg .wrapper .card-container .card .content .rating i{
    padding-bottom: 4px;
    color: #fcdb06 ;
}

.nonveg .wrapper .card-container .card .content .button-container{
    display: flex;
    /* background-color: #00A885; */
    /* align-items: center ; */
    justify-content: center;
}



/* Veg */

.veg{
    height: 900px;
    width: 100%;
    /* background-color: #00A885; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.veg .wrapper{
    height: 100%;
    /* background-color: blue; */

}

.veg .wrapper .holder{
    height: 10%;
    width: 100%;
    /* background-color: lightblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.veg .wrapper .card-container{
    height: 90%;
    width: 100%;
    /* background-color: lightblue; */
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.veg .wrapper .card-container .card{
    height: 47%;
    width: 28%;
    background-color: #B6F2E6;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.veg .wrapper .card-container .card .img-container{
    height: 50%;
    width: 100%;
    /* background-color: lightcyan; */
    
}


.veg .wrapper .card-container .card .img-container img{
    height: 100%;
    width: 100%;
    /* background-color: lightcyan; */
    object-fit: cover;
    object-position: center;
}

.veg .wrapper .card-container .card .content{
    height: 50%;
    width: 100%;
    /* background-color: lightgreen; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.veg .wrapper .card-container .card .content .rupees{
    /* font-size: 24px; */
    font-weight: 600;
}

.veg .wrapper .card-container .card .content .rating{
    display: flex;
    align-items: center;
    gap: 8px;
}
.veg .wrapper .card-container .card .content .rating i{
    padding-bottom: 4px;
    color: #fcdb06 ;
}

.veg .wrapper .card-container .card .content .button-container{
    display: flex;
    /* background-color: #00A885; */
    /* align-items: center ; */
    justify-content: center;
}



/* Media Query */

/* @media only screen and (max-width: 394px) {
    .offer {
        height: auto; 
        padding: 10px; 
    }

    .offer .wrapper .heading {
        font-size: 18px; 
        text-align: center; 
        margin-bottom: 10px; 
    }

    .offer .wrapper .card-container {
        flex-direction: column; 
        gap: 15px; 
        align-items: center; 
    }

    .offer .wrapper .card-container .card {
        width: 80%; 
        height: auto; 
        padding: 15px; 
        font-size: 14px;
        text-align: center; 
    }
} */


@media only screen and (max-width:1297px){
    .food-banner .wrapper h1{
        width: 100%;
    }
}

@media only screen and (max-width:1249px){
    .nonveg .wrapper .card-container .card {
        height: 47%;
        width: 26%
    }
    .veg .wrapper .card-container .card {
        height: 47%;
        width: 26%
    }
}

@media only screen and (mnax-width:1024){
    /* Search Bar */

    .form-container form .Searchbox {
        height: 45px;
    }
           /* RESIDENTS */

           .food-banner {
            height: 400px; 
            margin-bottom: 50px; 
        }
    
        .food-banner .wrapper h1 {
            font-size: 40px; 
            width: 70%; 
        }
    
        .food-banner .wrapper p {
            font-size: 20px;
        }
    
        .food-banner .wrapper .button-container {
            padding-top: 15px;
        }
    }

    @media only screen and (max-width: 926px){
        .food-banner .wrapper h1 {
            width: 71%;
        }
    }

    
    @media only screen and (max-width:909px){
        .nonveg {
            height: auto;
            width: 100%;
        }
    
    
        .nonveg .wrapper .card-container .card {
            height: 47%;
            width: 40%;
        }
    
        .nonveg .wrapper .card-container {
            justify-content: space-between;
        }
        .veg {
            height: auto;
            width: 100%;
        }
    
        .nonveg .wrapper {
            display: flex;
            flex-direction: column;
            gap: 24px;
    }
    
    
        .veg .wrapper .card-container .card {
            height: 47%;
            width: 40%;
        }
    
        .veg .wrapper .card-container {
            justify-content: space-between;
        }
    }
    
    @media only screen and (max-width: 913px){
        .food-banner .wrapper h1 {
            width: 72%;
        }
    }
    
    @media only screen and (max-width: 900px){
        .food-banner .wrapper h1 {
            width: 73%;
        }
    }
    
    @media only screen and (max-width: 888px){
        .food-banner .wrapper h1 {
            font-size: 38px;
        }
    }
    
    @media only screen and (max-width: 844px){
        .food-banner .wrapper h1 {
            width: 79%;
        }
    }

    @media only screen and (max-width: 801px){
        .food-banner .wrapper p {
            width: 103%;
        }
    }

    @media only screen and (max-width: 779px){
    .food-banner .wrapper h1 {
        width: 90%;
    }
} 

@media only screen and (max-width:768px){
    .nonveg .wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
}

.nonveg .wrapper .holder h1 {
    font-size: 24px
}

.nonveg .wrapper .holder p {
    font-size: 17px;
}
.veg .wrapper .holder h1 {
    font-size: 24px
}
.veg .wrapper .holder p {
    font-size: 17px;
}
.veg .wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.nav-two ul {
    gap: 50px;
}
.nav-two ul li a{
    font-size: 20px;
}
.form-container form .Searchbox {
    height: 40px;
}

.food-banner {
    height: 350px;
    margin-bottom: 40px; 
}

.food-banner .wrapper h1 {
    font-size: 28px; 
    width: 80%; 
}

.food-banner .wrapper p {
    font-size: 20px; 
}

.food-banner .wrapper .button-container {
    padding-top: 10px;
}
}

@media only screen and (max-width:620px){
    .nav-two ul {
        gap: 40px;
    }
    .nav-two ul li a{
        font-size: 18px;
    }
}

@media only screen and (max-width:611px){
    .nonveg .wrapper .card-container .card {
        height: 47%;
        width: 37%;
    }
    .veg .wrapper .card-container .card {
        height: 47%;
        width: 37%;
    }
}

@media only screen and (max-width: 567px) {
    .food-banner .wrapper h1 {
        width: 90%;
    }
}

@media only screen and (max-width:550px){
    .nonveg .wrapper .card-container {
        justify-content: center;
    }


    .nonveg .wrapper .card-container .card {
        height: 47%;
        width: 70%;
    }
    .veg .wrapper .card-container {
        justify-content: center;
    }


    .veg .wrapper .card-container .card {
        height: 47%;
        width: 70%;
    }
}

@media only screen and (max-width: 537px) {
    .banner .wrapper .right img {
        height: 350px;
    }
}

@media only screen and (max-width: 534px){
    .food-banner .wrapper p {
        width: 103%;
    }
}



@media only screen and (max-width: 519px){
    .food-banner .wrapper p {
        width: 106%;
    }
}


@media only screen and (max-width:508px){
    .food-banner .wrapper p {
        font-size: 16px;
    }
}

@media only screen and (max-width:504px){
    .food-banner .wrapper h1 {
        width: 100%;
    }
    .food-banner .wrapper p {
        font-size: 17px;
    }
}



@media only screen and (max-width:483px){
    .food-banner .wrapper p {
        font-size: 18px;
    }
}

@media only screen and (max-width:480px){
.food-banner {
    height: 300px; 
    margin-bottom: 30px; 
}

.food-banner .wrapper h1 {
    font-size: 24px; 
    width: 90%; 
}

.food-banner .wrapper p {
    font-size: 14px; 
}

.food-banner .wrapper .button-container {
    padding-top: 8px; 
}
}


@media only screen and (max-width:465px){
    .nav-two ul {
        gap: 20px;
    }
    .nav-two ul li a{
        font-size: 14px;
    }
}

@media only screen and (max-width:472px){
    .nav-two ul {
        gap: 20px;
    }
}
@media only screen and (max-width:432px){
    .food-banner .wrapper h1 {
        width: 100%;
    }
}

@media only screen and (max-width:412px){
    .nonveg .wrapper .holder h1 {
        font-size: 22px;
    }
}
@media only screen and (max-width: 389px) {
    .food-banner .wrapper h1 {
        font-size: 22px;
    }
}

@media only screen and (max-width: 387px) {
    .banner .wrapper .right img {
        height: 300px;
    }
    .food-banner .wrapper p {
        width: 105%;
    }
}

@media only screen and (max-width: 385px) {
    .nonveg .wrapper .holder h1 {
        font-size: 20px;
    }
    .veg .wrapper .holder h1 {
        font-size: 20px;
    }
}



@media only screen and (max-width: 352px){
    .food-banner .wrapper p {
        font-size: 12px;
    }
    .food-banner .wrapper h1 {
        font-size: 20px;
    }
}



@media only screen and (max-width:339px){
    .nav-two ul {
        gap: 20px;
    }
    .nav-two ul li a{
        font-size: 12px;
    }
}


@media only screen and (max-width: 324px){
    .food-banner .wrapper h1 {
        width: 103%;
    }
}


@media only screen and (max-width:320px){
    .form-container form .Searchbox {
        height: 35px;
    }
    .food-banner {
        height: 250px; 
        margin-bottom: 20px; 
    }

    .food-banner .wrapper h1 {
        font-size: 18px;
        width: 100%; 
    }

    .food-banner .wrapper p {
        font-size: 12px;
    }

    .food-banner .wrapper .button-container {
        padding-top: 5px; 
    }
    .nonveg .wrapper .holder h1 {
        font-size: 16px;
    }
    .nonveg .wrapper .holder p {
        font-size: 12px;
    }
    .veg .wrapper .holder h1 {
        font-size: 16px;
    }
    .veg .wrapper .holder p {
        font-size: 12px;
    }
}



















