
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 90%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* padding: 0px 100px; */
     /* background-color: yellow;  */
}

/* Nav bar start */
nav {
    height: 70px;
    width: 100%;
    /* background-color: #3D613B; */
    display: flex;
    justify-content: center;
}

nav .wrapper {
    height: 100%;
    /* width: 90%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blue; */
}

nav .wrapper label, nav .wrapper #checkbox{
    display: none;
}

nav .wrapper  ul{
    display: flex;
    justify-content: center;
    gap: 50px;
}

nav .wrapper  ul li{
    list-style: none;
}

nav .wrapper  ul li a{
    text-decoration: none;
    color: rgb(22, 21, 21);
    font-size: 24px;
}

nav .wrapper .icon{
    display: flex;
    gap: 20px;
    color: black;
}

nav .wrapper .icon i{
    color:black;
    font-size: 20px;
}

nav .wrapper ul li a.active{
    color: #00A885;
}
nav .wrapper ul li a.notactive:hover{
    text-decoration: underline;
    text-decoration-color: #00A885;
}



/* buttons */

.primary-button{
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 16px;
    background-color: #00A885;
    color: white;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;
}
a .primary-button{
    color: white;
    text-decoration: none;
}
.secondary-button{
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 16px;
    background-color: transparent;
    color:#00A885;
    border-style: solid;
    border-color: #00A885;
    border-radius: 30px;
    cursor: pointer;
}
a.secondary-button {
    color: #00A885;
    text-decoration: none;
}

.card-primary-button{
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 16px;
    background-color: #00A885;
    color: white;
    border-style: solid;
    border-color: transparent;
}
.card-primary-button a{
    color: white;
    text-decoration: none;
}

.primary-button:hover{
    box-shadow: 0px 5px 5px  hsla(0, 0%, 0%, 0.308)
}

.secondary-button:hover{
    box-shadow: 0px 5px 5px  hsla(0, 0%, 0%, 0.308)
}


.footer{
    height: auto;
    width: 100%;
    background-color: #00A885;
    margin-top: 60px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.footer .wrapper{
    height: auto;
    background-color: #00A885;
    display: flex;
    gap: 10px;
    align-items: start;
    justify-content: center;
}


.footer .wrapper .brand .sub img{
    height: 90%;
    width: 100%;
}

.footer .wrapper .brand{
    height: 100%;
    width: 20%;
    /* background-color: lightcyan; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* gap: 20px; */
}

.footer .wrapper .sub{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .wrapper .brand h1 a{
    text-decoration: none;
    color: white;
}

.footer .wrapper .brand h1 a:hover{
    text-decoration: underline;
    
}

.footer .wrapper .brand p{
    text-align: center;
}

.footer .wrapper .menu{
    height: 100%;
    width: 20%;
    /* background-color: lightgoldenrodyellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.footer .wrapper .menu a{
    text-decoration: none;
    color:black;
}

.footer .wrapper .menu a:hover{
    text-decoration: underline;
    
}


.footer .wrapper .help{
    height: 100%;
    width: 20%;
    /* background-color: lightgray; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.footer .wrapper .help a{
    text-decoration: none;
    color: black;
}

.footer .wrapper .help a:hover{
    text-decoration: underline;
    
}

.footer .wrapper .contact{
    height: 100%;
    width: 20%;
    /* background-color: lightgreen; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.footer .wrapper .contact a{
    text-decoration: none;
    color: black;
}

.footer .wrapper .contact a:hover{
    text-decoration: underline;
    
}

.footer .wrapper .media{
    height: 100%;
    width: 20%;
    /* background-color: lightpink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.footer .wrapper .media .icons{
    color: white;
    font-size: 20px;
    display: flex;
    gap: 24px;
}

.footer .wrapper .media .icons a{
    color: black;
}


/* footer bottom */

.footerbottom{
    height: auto;
    width: 100%;
    background-color: #00A885;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
   
}

.footerbottom .wrapper{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    
}

.footerbottom .wrapper p{
    color: black;
    font-size: 16px;
}

.footerbottom .wrapper a{
    text-decoration: none;
    color: black;
}

.footerbottom .wrapper .hari a{
    text-decoration: underline;
}



/*  Media Query Start */



@media only screen and (max-width:1024){
    .primary-button {
        padding: 12px 25px; 
        font-size: 16px;
        border-radius: 30px; 
    }
    .secondary-button {
        padding: 12px 25px; 
        font-size: 16px; 
        border-radius: 30px; 
    }

}

@media only screen and (max-width:1029px){
    nav .wrapper .link ul{
        gap: 40px;
        }
}


@media only screen and (max-width:1004){
    .footer .wrapper .brand .sub img {
        height: 100%;
    }
}


@media only screen and (max-width: 982px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer .wrapper {
        flex-wrap: wrap; 
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .footer .wrapper .brand,
    .footer .wrapper .menu,
    .footer .wrapper .help {
        width: 30%; 
    }

    .footer .wrapper .contact,
    .footer .wrapper .media {
        width: 45%; 

    }

    .footer .wrapper .brand .sub img {
        /* height: 175px; */
        width: 85%;
    }

    .footerbottom {
        width: 100%; 
        
    }

    .footerbottom .wrapper {
        flex-direction: column;
        align-items: center;
        text-align: center; 
    }
}

@media only screen and (max-width:971px){
    .footer .wrapper .media {
        width: 40%;
    }
}
    
@media only screen and (max-width:966px){
    nav .wrapper .link ul{
        gap: 45px;
    }
}



@media only screen and (max-width: 912px) {
    .footer .wrapper .brand .sub img {
        width: 85%;
    }
}

@media only screen and (max-width:893px){
    nav .wrapper .link ul{
        gap: 25px;
    }
}


@media only screen and (max-width:889px){
    .footer .wrapper .media {
        width: 35%;
    }
}


@media only screen and (max-width:885px){
    nav .wrapper .link ul{
        gap: 40px;
    }
}

@media only screen and (max-width:863px){
    nav .wrapper .link ul li a {
        font-weight: 400;
    }
}



@media only screen and (max-width:800px){
    nav .wrapper label{
        display: block;
    }
    nav .wrapper{
        position: relative;
    }
    nav .wrapper ul{
        position: absolute;
        top: 100%;
        left: -100%;
    }
    nav .wrapper i{
        color: rgb(0, 0, 0);
    }
    #checkbox:checked~ul{
        background-color: #B6F2E6;
        flex-direction: column;
        transition-duration: 0.7s;
        left: -10px;
        right: -10px;
        gap: 20px;
        padding: 20px;
        z-index: 10000;
    }
    nav .wrapper img{
        order: 3;
    }
    nav .wrapper .icon{
        position: absolute;
        right: 100px;
    }
}

@media only screen and (max-width: 778px) {
    .footer .wrapper .brand .sub img {
        width: 100%;
    }
}


@media only screen and (max-width:768px) {
    .primary-button {
        padding: 10px 20px; 
        font-size: 14px;
        border-radius: 25px; 
    }

    .primary-button a {
        font-size: 14px; 
    }
    .secondary-button {
        padding: 10px 20px; 
        font-size: 14px; 
        border-radius: 25px; 
    }
    .secondary-button a {
        font-size: 14px; 
    }

    nav .wrapper label{
        display: block;
    }
    
    nav .wrapper{
        position: relative;
    }
    nav .wrapper ul{
        position: absolute;
        top: 100%;
        left: -220%;
    }
    
    nav .wrapper i{
        color: rgb(0, 0, 0);
    }
    
    #checkbox:checked~ul{
        background-color:#B6F2E6;
        flex-direction: column;
        transition-duration: 0.7s;
        left: 0px;
        right: -7px;
        gap: 20px;
        padding: 20px;
        z-index: 10000;
    }

        .footer .wrapper {
            flex-direction: row; 
            flex-wrap: wrap;
            gap: 30px; 
            justify-content: center; 
        }
    
        .footer .wrapper .brand,
        .footer .wrapper .menu,
        .footer .wrapper .help,
        .footer .wrapper .contact,
        .footer .wrapper .media {
            width: 45%; 
            text-align: center; 
        }
    
        .footer .wrapper .media .icons {
            justify-content: center; 
            gap: 16px; 
        }
    
        .footerbottom .wrapper {
            flex-direction: row;
            flex-wrap: wrap; 
            gap: 10px; 
        }
    
        .footerbottom .wrapper p {
            font-size: 14px; 
            text-align: center; 
        }

        .footer .wrapper .brand .sub img {
            width: 70%;
        }
    }

    @media only screen and (max-width: 475px) {
        .footer .wrapper {
            flex-direction: column; 
            gap: 10px; 
        }
    
        .footer .wrapper .brand,
        .footer .wrapper .menu,
        .footer .wrapper .help,
        .footer .wrapper .contact,
        .footer .wrapper .media {
            width: 100%; 
            text-align: center; 
        }
    
        .footer .wrapper .media .icons {
            justify-content: center; 
            gap: 12px; 
        }

        .footerbottom .wrapper {
            flex-direction: column; 
            align-items: center; 
            gap: 10px; 
            text-align: center;
        }
    
        .footerbottom .wrapper p {
            font-size: 16px; 
        }
    
        .footerbottom .wrapper a {
            font-size: 16px; 
        }
        .footer .wrapper .brand .sub img {
            width: 60%;
        }
    }
    
    @media only screen and (max-width: 768px) {
        .footer .wrapper h1{
            font-size: 22px;
        }

    }
    
    @media only screen and (max-width: 425px) {
        .footer .wrapper h1{
            font-size: 18px;
        }
         .wrapper h1{
            font-size: 20px;
        }
    }
    

@media only screen and (max-width: 425px) {
    .primary-button {
        padding: 8px 18px; 
        font-size: 14px; 
        border-radius: 20px;
    }

    .primary-button a {
        font-size: 14px; 
    }
    .-button {
        padding: 8px 18px; 
        font-size: 14px; 
        border-radius: 20px;
    }

    .primary-button a {
        font-size: 14px;
    }
    #checkbox:checked~ul {
        left: 0px;
        right: 2px;
        gap: 10px;
    }

    nav .wrapper ul li a {
        font-size: 16px;
    }
}


@media only screen and (max-width: 320px) {
    .primary-button {
        padding: 6px 12px; 
        font-size: 10px; 
        border-radius: 15px; 
    }
    .secondary-button {
        padding: 6px 12px; 
        font-size: 10px; 
        border-radius: 15px; 
    }

    #checkbox:checked~ul {
        left: 0px;
        right: 2px
    }
}

