
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 90%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* padding: 0px 100px; */
     /* background-color: yellow;  */
}

/* Nav bar start */
nav {
    height: 70px;
    width: 100%;
    /* background-color: #3D613B; */
    display: flex;
    justify-content: center;
}

nav .wrapper {
    height: 100%;
    /* width: 90%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blue; */
}

nav .wrapper label, nav .wrapper #checkbox{
    display: none;
}



nav .wrapper  ul{
    display: flex;
    justify-content: center;
    gap: 50px;
}

nav .wrapper  ul li{
    list-style: none;
}

nav .wrapper  ul li a{
    text-decoration: none;
    color: rgb(22, 21, 21);
    font-size: 20px;
}

nav .wrapper .icon{
    display: flex;
    gap: 20px;
    color: black;
}

nav .wrapper .icon i{
    color:black;
    font-size: 20px;
}

nav .wrapper ul li a.active{
    color: #00A885;
}




/* buttons */

.primary-button{
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 16px;
    background-color: #00A885;
    color: white;
    border-style: solid;
    border-color: transparent;
}
.primary-button a{
    color: white;
    text-decoration: none;
}
.secondary-button{
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 16px;
    background-color: transparent;
    color:#00A885;
    border-style: solid;
    border-color: #00A885;
    border-radius: 30px;
}
.secondary-button a{
    color: #00A885;
    text-decoration: none;
}

.card-primary-button{
    padding: 5px 15px;
    border-radius: 30px;
    font-size: 16px;
    background-color: #00A885;
    color: white;
    border-style: solid;
    border-color: transparent;
}
.card-primary-button a{
    color: white;
    text-decoration: none;
}





@media only screen and (max-width:1024){
    .primary-button {
        padding: 12px 25px; 
        font-size: 16px;
        border-radius: 30px; 
    }
    .secondary-button {
        padding: 12px 25px; 
        font-size: 16px; 
        border-radius: 30px; 
    }

}

@media only screen and (max-width:1029px){
    nav .wrapper .link ul{
        gap: 40px;
        }
    }

    
@media only screen and (max-width:966px){
    nav .wrapper .link ul{
        gap: 45px;
    }
}

@media only screen and (max-width:885px){
    nav .wrapper .link ul{
        gap: 40px;
    }
}

@media only screen and (max-width:893px){
    nav .wrapper .link ul{
        gap: 25px;
    }
}
@media only screen and (max-width:863px){
    nav .wrapper .link ul li a {
        font-weight: 400;
    }
}


@media only screen and (max-width:800px){
    nav .wrapper label{
        display: block;
    }
    nav .wrapper{
        position: relative;
    }
    nav .wrapper ul{
        position: absolute;
        top: 100%;
        left: -100%;
    }
    nav .wrapper i{
        color: rgb(0, 0, 0);
    }
    #checkbox:checked~ul{
        background-color: #B6F2E6;
        flex-direction: column;
        transition-duration: 0.7s;
        left: -10px;
        right: -10px;
        gap: 20px;
        padding: 20px;
        z-index: 10000;
    }
    nav .wrapper img{
        order: 3;
    }
    nav .wrapper .icon{
        position: absolute;
        right: 100px;
    }
}



/* @media only screen and (max-width:769px){
    nav .wrapper .link ul{
        flex-direction:column;
        position: absolute;
        width: 200px;
        height: 250px;
        background-color: aqua;
        top: 100px;
    }
    #checkbox:checked-ul{
        background-color:rgb(174, 0, 255);
        top: 80px;
    }

    nav .wrapper label{
        display: block;
    }
    nav .wrapper #checkbox{
        display: block;
}

} */

/* Nav bar end */


    
@media only screen and (max-width:768px) {
    .primary-button {
        padding: 10px 20px; 
        font-size: 14px;
        border-radius: 25px; 
    }

    .primary-button a {
        font-size: 14px; 
    }
    .secondary-button {
        padding: 10px 20px; 
        font-size: 14px; 
        border-radius: 25px; 
    }
    .secondary-button a {
        font-size: 14px; 
    }
}


@media only screen and (max-width: 425px) {
    .primary-button {
        padding: 8px 18px; 
        font-size: 14px; 
        border-radius: 20px;
    }

    .primary-button a {
        font-size: 14px; /* Match font size to the button text */
    }
    .-button {
        padding: 8px 18px; 
        font-size: 14px; 
        border-radius: 20px;
    }

    .primary-button a {
        font-size: 14px; /* Match font size to the button text */
    }

    
    
}

@media only screen and (max-width: 320px) {
    .primary-button {
        padding: 6px 12px; 
        font-size: 10px; 
        border-radius: 15px; 
    }
    .secondary-button {
        padding: 6px 12px; 
        font-size: 10px; 
        border-radius: 15px; 
    }
}


@media only screen and (max-width: 768px){

    nav .wrapper label{
        display: block;
    }
    
    nav .wrapper{
        position: relative;
    }
    nav .wrapper ul{
        position: absolute;
        top: 100%;
        left: -200%;
    }
    
    nav .wrapper i{
        color: rgb(0, 0, 0);
    }
    
    #checkbox:checked~ul{
        background-color:#B6F2E6;
        flex-direction: column;
        transition-duration: 0.7s;
        left: 0px;
        right: -7px;
        gap: 20px;
        padding: 20px;
        z-index: 10000;
    }
    }

    @media only screen and (max-width:425px) {
        #checkbox:checked~ul {
            left: 0px;
            right: 2px
        }
    }


    @media only screen and (max-width:320px) {
        #checkbox:checked~ul {
            left: 0px;
            right: 2px
        }
    }










